<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthcarepharmacy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"  android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCarePharmacy">
        <activity android:name=".ProductDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".product_recyclerview_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".UploadExistingImageActivity" />
        <activity android:name=".SearchBuyMedicineActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadPrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HealthCarePharmacy.NoActionBar">

            <!-- To use multiple models: android:value="ocr,model2,model3" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>